/* 
    * Author: trdmonkey;
    * Theme: Restaurant One - Admin Panel;
    * Version: 1.0;
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
}

.tbl-full {
    width: 100%;
}

.tbl-30 {
    width: 30%;
}

input {
    caret-color:red;
}

table tr th{
    border-bottom: 1px solid firebrick;
    /* border-top: 1px solid firebrick; */
    padding: 1%;
    text-align: left;
}

table td {
    text-align: left;
    padding: 1%;
}


/* BOTON PRIMARY */
.btn-primary {
    background-color:#4682b4;
    padding: 0.7%;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

.btn-primary:hover {
    background-color:#4169e1;
}

.success {
    color: #3cb371;
    font-weight: bold;
}

.error {
    color: #d63031;
    font-weight: bold;
}

/* BOTON SECONDARY */
.btn-secondary {
    background-color:#3cb371;
    padding: 0.7%;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

.btn-secondary:hover {
    background-color:#2e8b57;
}


/* BOTON TERCIARY */
.btn-terciary {
    background-color:#fa8072;
    padding: 0.7%;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

.btn-terciary:hover {
    background-color:#cd5c5c;
}



/*  
    * MENU
*/
.menu {
    border-bottom: 1px solid firebrick;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #DC7633;
    letter-spacing: 2px;
}

.menu ul li a:hover {
    color: #d63031;
}


/*  
    * MAIN-CONTENT
*/
.main-content {
    margin: 1% 0; /* ELIMINAR DESPUES ESTE MARGEN DE ABAJO */
    background-color: whitesmoke;
    padding: 2% 0;
}

.col-4 {
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/*  
    * FOOTER
*/
.footer {
    background-color:#FCF3CF;
    color: gray;
    font-size: 0.8rem;
}

.footer a {
    text-decoration: none;
}

/*  
    * LOGIN
*/
.login {
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}